# Git
.git
.gitignore

# IDE
.idea
.vscode
*.iml
nb-configuration.xml

# Maven
target/*
!target/restman.war
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Docs
*.md
!README.md

# Environment
.env
.env.example

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Temporary
*.tmp
*.temp
*~

# Scripts
*.ps1
*.sh

# Other source code (only need the WAR)
src/
sql/
